h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.navbar-brand {
    font-family: "Montserrat";
    font-weight: 900;
}

.container-fluid {
    padding: 0% 10% 3% 10%;
}

#title {
    background-color: #fff;
    padding: 0% 10% 7%;
}